
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
    padding-top: 10px;
}

.resultPlaceholder {
    margin: 0;
    background-color: transparent;
    text-align: center;
    padding-top : 20px;
    font-size: 1em;
}

.container {
}

.card {
	border-style: 1px solid ;
}

#numTwoLbl {
	padding-top : 10px;
}

  